* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #c0deed;
  background-image: url(../img/background.png);
  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  body header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background: white;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 1000;
    display: block; }
    body header:after {
      content: "";
      display: table;
      clear: both; }
    body header .title {
      width: 150px;
      height: 40px;
      float: left;
      margin: -15px 20%; }
    body header .logo img {
      height: 40px;
      width: 40px;
      float: right;
      position: relative;
      margin: -10px 50%; }
  body .container {
    padding: 60px;
    background: transparent;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body .container:after {
      content: "";
      display: table;
      clear: both; }
    body .container:after {
      content: "";
      display: table;
      clear: both; }
    body .container .userBox {
      margin-left: 0px;
      height: 20;
      float: left;
      background-color: white;
      border: 1px solid #e1e8ed;
      border-radius: 10px; }
      body .container .userBox .userTitle {
        margin-left: 0px; }
        body .container .userBox .userTitle h3 {
          font-size: 20px;
          font-weight: 500;
          color: gray;
          text-align: left;
          padding-left: 8px; }
    body .container .tweet-container {
      margin-left: 0px;
      height: auto;
      float: right;
      margin: 0 25%; }
      body .container .tweet-container .boxTitle {
        background-color: white;
        border: 1px solid #e1e8ed;
        margin-left: 0px; }
        body .container .tweet-container .boxTitle h1 {
          font-size: 20px;
          font-weight: 500;
          color: gray;
          text-align: left;
          padding-left: 8px; }
      body .container .tweet-container .updateTweets {
        background: white;
        display: block;
        height: 40px;
        border: 1px solid #e1e8ed;
        text-align: center;
        display: none;
        margin-left: 0px; }
        body .container .tweet-container .updateTweets:hover {
          background-color: #f5f8fa; }
        body .container .tweet-container .updateTweets .updateFeeds {
          text-decoration: none;
          font-size: 14px; }
          body .container .tweet-container .updateTweets .updateFeeds .tweetsAlert {
            padding: 10px;
            color: red;
            text-align: center; }
      body .container .tweet-container .tweetStream {
        margin-left: 0px; }
        body .container .tweet-container .tweetStream .one-tweet {
          margin-left: 0px;
          border: 1px solid #e1e8ed;
          background: white;
          display: block;
          min-height: 51px;
          padding: 9px 12px; }
          body .container .tweet-container .tweetStream .one-tweet .userName a {
            font-size: 14px;
            color: gray; }
            body .container .tweet-container .tweetStream .one-tweet .userName a:hover {
              color: black;
              text-decoration: none; }
          body .container .tweet-container .tweetStream .one-tweet .tweetTime {
            margin: 0 10px;
            text-align: center;
            color: gray;
            font-size: 14px; }
          body .container .tweet-container .tweetStream .one-tweet .message {
            margin: 10px 20px;
            color: black;
            display: inline-block;
            font-size: 16px; }
